<%= error_messages_for 'productcondition' %>

<!--[form:productcondition]-->
<p><label for="productcondition_condition">Condition Label</label> 
<%= text_field 'productcondition', 'condition'  %></p>
<!--[eoform:productcondition]-->

