<h2>Editing Product Condition Label</h2>
<hr>
<% form_tag :action => 'update', :id => @productcondition do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %> <%= link_to 'Cancel', :action => 'list' %>
<% end %>
<p>

</p>
