<% for column in Productcondition.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @productcondition.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @productcondition %> |
<%= link_to 'Back', :action => 'list' %>
