<%= error_messages_for 'productwarranty' %>

<!--[form:productwarranty]-->
<p><label for="productwarranty_warranty">Warranty Label</label> 
<%= text_field 'productwarranty', 'warranty'  %></p>
<!--[eoform:productwarranty]-->

