<% for column in Productwarranty.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @productwarranty.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @productwarranty %> |
<%= link_to 'Back', :action => 'list' %>
