<h2>Edit Email Templates</h2>
<hr />
<table  class="nice_table">
	<tr>
		<td>New Account</td>
		<td><%=link_to("Edit", :action=>'edit_email_template', :controller=>'admin', :id=>1)%></td>
	</tr>
	
	<tr>
		<td>Order Confirm</td>
		<td><%=link_to("Edit", :action=>'edit_email_template', :controller=>'admin', :id=>2)%></td>
	</tr>
	
	<tr>
		<td>Order Status Change Notice</td>
		<td><%=link_to("Edit", :action=>'edit_email_template', :controller=>'admin', :id=>3)%></td>
	</tr>	
	
</table>	
