<h2>Header Message</h2>
<hr/>
<% form_for :shop, :url=>{:action=>'header_message'} do |form| %>
	<%= form.text_area 'header_message', :rows=>2,:cols=>50 %>
	<br/>
	<%= submit_tag "Update Header Message"%>
<% end %>	