<h2>Dynamic Category Highlighting</h2>
<hr/>

<br/>

<div class="explaination">
    <p>
	This optional function will index Category with menu labels. 
         <br/><br/>
         Do this only when new products are added.
       </p>
</div>
	
<br/>
		
<% form_tag :action=>'index_category_label' do %>
	
	<%= submit_tag "Do Indexing Now"%>
<% end %>	