<div style="padding:5px">
<p>Thank you for your order. You will receive confirmation and payment instructions shortly.</p>

<p>
<%= link_to "Back to Homepage", :action=>'index', :controller=>'go'%>
</p>

<p>
<%= link_to "My Account", :action=>'account', :controller=>'go'%>
</p>
</div>