<div style="padding:15px;">

<h3>Lost password retrieval</h3>
<% form_tag(:action=> "password_resend") do %>
<table>
	
	<tr>
    <td>Enter your email:</td><td><%= text_field("password","email","size"=>"20")%></td>
  	</tr>

</table>
    <%= submit_tag "Submit"%>
<% end %>
</div>
