.navbar
{
}  

.mainDiv
{
  width:185px;
}

.topItem
{
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("/images/arrow-up-title.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  border: none;
  width: 179px;
  height: 25px;
  color: #215dc6;
  cursor:pointer;
  text-indent:10px;
}

.topItemOver
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("/images/arrow-up-title-on.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 185px;
  color: #428eff;
  cursor:pointer;
}

.topItemClose
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("/images/arrow-down-title.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 185px;
  color: #215dc6;
  cursor:pointer;
}


.topItemCloseOver
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("/images/arrow-down-title-on.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 185px;
  color: #428eff;
  cursor:pointer;
}



.dropMenu
{
  font: bold 11px tahoma,verdana,sans-serif;	
  background-color: #bad2ea;
  color: #000;
  border: 1px solid #FFFFFF;
  border-width: 0 1px 1px 1px;
  filter:alpha(opacity=100);
  padding-top:5px;
  padding-bottom:5px;
  
}

.subMenu
{
   display:block;
}

.subItem
{
   margin-left:10px;
   margin-top:2px;
   height:18px;
   font: 11px tahoma,verdana,sans-serif;	
   text-decoration:none;
   color: #215dc6;
   
}

.subItem a
{
   margin-left:23px;
   font: 11px tahoma,verdana,sans-serif;	 	
   text-decoration:none;
   color: #215dc6;
}

.subItemOver
{
   margin-left:10px;
   margin-top:2px;
   font: 11px tahoma,verdana,sans-serif;	  
   height:18px;
   color: #428eff;
}

.subItemOver  a
{
   margin-left:23px;
   font: 11px tahoma,verdana,sans-serif;
   cursor:pointer;	
   color: #428eff;
   text-decoration:underline;
   cursor:pointer;
}


.drop
{
   border-left:1px solid black;
   border-right:1px solid black;	
}




