<% for column in Charity.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @charity.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @charity %> |
<%= link_to 'Back', :action => 'list' %>
