<% for column in Tab.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @tab.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @tab %> |
<%= link_to 'Back', :action => 'list' %>
