<%= error_messages_for 'administrator' %>

<p><label for="administrator_password">Replace this with a new password</label><br/>
<%= text_field 'administrator', 'password'  %></p>

<!--[eoform:administrator]-->

