<% for column in Administrator.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @administrator.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @administrator %> |
<%= link_to 'Back', :action => 'list' %>
