<%= error_messages_for 'pricelevel' %>

<!--[form:pricelevel]-->
<p><label for="pricelevel_title">Title</label> 
<%= text_field 'pricelevel', 'title'  %></p>

<p><label for="pricelevel_note">Note</label><br/>
<%= text_area 'pricelevel', 'note' ,"cols"=>45, "rows"=>4 %></p>
<!--[eoform:pricelevel]-->

